.margin-padding-10px {
  margin: 20px;
  padding: 20px;
}

.flex-column {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
}

.flex-row {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: center; */
}
.left {
  width: 40%;
  text-align: right;
}

.right {
  width: 60%;
  text-align: left;
}

.center {
  align-items: center;
}
