.date-input {
  margin: 15px 0px;
  width: 60%;
  font-size: 15px;
  text-align: center;
  background-color: whitesmoke;
  color: #555;
}

/* override values from simulation.css */
.flex-img-col {
  max-width: 40%;
}
.flex-img-col img {
  max-width: 90%;
  object-fit: contain;
}

#date-simulation {
  text-align: center;
}

.input-field {
  padding-left: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
}

#date {
  width: 80%;
}

@media only screen and (max-width: 900px) {
  .input-field {
    text-align: center;
    width: 95%;
  }

  flex-container {
    display: inline-flex;
  }

  .flex-img-col {
    max-width: 100%;
  }
  .flex-img-col img {
    max-width: 100%;
  }

  #date {
    width: 100%;
  }

  .date-info {
    font-size: 1.2em;
  }
}
