.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.result-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.result {
  width: 50%;
}

.nba-logo {
  display: inline-block;
  width: 50%;
  height: 80%;
}

@media only screen and (max-width: 900px) {
  .result-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .result {
    width: 100%;
  }
}
