.decrease-top {
  margin: 10px 15% 0 15%;
}

/* .info */
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flex-img-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-img-col img {
  object-fit: contain;
  max-width: 250px;
}

.flex-container p {
  padding-left: 4%;
}
.heading {
  width: 100%;
  background-color: #ff7038;
  color: whitesmoke;
}

@media only screen and (max-width: 650px) {
  .flex-container {
    display: inline-block;
    text-align: center;
  }

  .flex-img-col {
    display: inline-block;
    text-align: center;
  }
  .flex-img-col img {
    max-width: 80%;
  }

  .textbox-padding {
    display: inline-block;
  }

  .heading {
    font-size: 20px;
  }
}
